@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

/* Choose Container  */

.chooseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.chooseColumnImage {

    padding: 20px;
}

.chooseColumnText {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bold;

    padding: 20px;
    Justify-content: center;

    background-color: #f5f5f5;
    overflow: hidden;

}

.chooseRow {

    display: flex;
    /* flex-direction: reverse; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    overflow: hidden;
}

@media only screen and (max-width: 770px) {
    .chooseColumnImage {
        display: none;
    }
}


/* title book my  */
.titleMy {
    background-color: red;
    border-radius: 3px;
    -ms-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);

}



/* Admin Login */


@media(min-width:790px) {
    section {
        text-align: right;
        display: flex;
        flex-direction: reverse;
        max-width: 920px;
    }

    .image {
        width: 800px;
        height: 425px;
    }

    .image-login {
        height: 520px;
        width: 400px;
    }

    .image-register {
        height: 520px;
        width: 430px;
    }
}

.forgetpassword-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;
    background-color: white;

}


.forget-form {
    border-radius: 18px;
}

.new-account-foger-form {

    margin-top: 17px;


}

.createAcoount {
    color: #4e73df;
}

.createAcoount:hover {
    text-decoration: underline;
    cursor: pointer;
}



/* login page  */


section {
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.image-login {
    background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
    background-size: cover;

}


::placeholder {
    font-weight: 350;
    font-size: 13px;
}

.loginhead {
    margin-top: 45px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
    font-weight: bold;
}

.content-login {
    width: 400px;
    height: 450px;
}


.form-group {
    margin-bottom: 1rem;
}

.form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 10rem;
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 22px;
    background-color: white;

}


.form-box {
    width: 400px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: .8rem;
    border-radius: 10px;
    padding: 1.5rem 1rem;
}

.message {
    opacity: 0.5;
    font-size: 15px;
    margin-bottom: 10px;
}

.login-form {
    border-radius: 18px;
    font-size: 14.5px;
}

/* carousel  */
.carousel {
    height: 485px;
}



/* movies */


.App {
    font-family: 'Roboto', sans-serif;
    /* text-align: center; */
}

.profile-pic {

    height: 300px;
    width: 300px;
    object-fit: cover;
}

.user-detail {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.user-container {
    /* border-top:5px solid orange; */
    padding: 1.2rem;
    /* border: 2px solid black; */
    margin: 20px;
    text-align: center;
}

.add-color {
    display: flex;

}

.movie-container {
    width: 320px;
    height: min-content;

}

.movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-poster {
    width: 320px;
    height: 430px;
    object-fit: fill;

}

.movie-name {
    margin-top: 0;
}

.movie-summary {
    margin: 0;
}

.movie-rating {
    font-size: 18px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.tgl-btn {
    margin-top: 10px;
    margin-bottom: 5px;

}

.not-found {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.movie-detail-container {

    max-width: 800px;

}

.back-button {
    margin: 20px;
    width: 100px;
    height: 50px;
}

.movie-detail-name {
    text-align: center;
}

.add-movie-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-movie-form {

    margin-top: 20px;
}


/* upcomingmovies card */









/* font weight bold  */

.f-b {
    font-weight: bold;
}


.container-support {
    width: 100%;
    height: 120px;
    background-color: #272727;
}


.row-support {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;

}

.row-support p {
    font-size: 13px;

}

/* .bookingContainer{
  background-color: #6e707e;
} */

.booking-dropDowns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



/* seats  */


.seatBody {
    background-color: #242333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Lato", sans-serif;
    margin: 0;
}

/* .movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

.containerSeat {
    perspective: 1000px;
    margin-bottom: 30px;
}

.seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat.selected {
    background-color: red;
}

.seat.sold {
    background-color: green;
}

.seat:nth-of-type(3) {
    margin-right: 18px;
}

.seat:nth-last-of-type(3) {
    margin-left: 18px;
}

.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: red;

}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.rowSeat {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.textSeat {
    margin: 5px 0;
}

p.textSeat span {
    color: rgb(158, 248, 158);
}

.bg-grey-admin {
    background-color: #f2f3f5;
    min-height: 100vh;
}

/* formik input red field  */

.error-border {
    border: 1px solid red !important;
}


textarea {
    height: 80px !important;
    min-height: 80px !important;
    max-height: 80px !important;

}