.App {
  font-family: 'Roboto', sans-serif;
  /* text-align: center; */
}

.profile-pic {

  height: 300px;
  width: 300px;
  object-fit: cover;
}

.user-detail {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.user-container {
  /* border-top:5px solid orange; */
  padding: 1.2rem;
  /* border: 2px solid black; */
  margin: 20px;
  text-align: center;
}

.add-color {
  display: flex;

}

.movie-container {
  width: 320px;
  height: min-content;

}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-poster {
  width: 320px;
  height: 430px;
  object-fit: fill;

}

.movie-name {
  margin-top: 0;
}

.movie-summary {
  margin: 0;
}

.movie-rating {
  font-size: 18px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.tgl-btn {
  margin-top: 10px;
  margin-bottom: 5px;

}

.not-found {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.movie-detail-container {

  max-width: 800px;

}

.back-button {
  margin: 20px;
  width: 100px;
  height: 50px;
}

.movie-detail-name {
  text-align: center;
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-movie-form {

  margin-top: 20px;
}

.logouthead {
  display: flex;
  justify-content: end;
}

.logout {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: brown;
  color: white;
  margin: 20px;


}